body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 480px;

    
}
#display{
    
    background-color: gray;
    flex: 1;
    width: 100%;
    font-size: xx-large;
}
#keypress{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    flex: 2;
    
}
.rows{
    flex: 1;

    display: flex;
}
button{
    flex: 1;
}
